# ignore all files and all directories
*
*/

!.gitignore
!.github/workflows/ci.yml
!.github/workflows/
!.github/
!README.adoc
!docs/
!docs/advanced.adoc
!docs/ble-protocol.adoc
!subzero.yaml
!cove-minimal-dishwasher.yaml
!wolf-minimal-range.yaml
!subzero_fridge.yaml
!subzero_dishwasher.yaml
!subzero_range.yaml
!subzero_base.yaml
!components/
!components/patch_acl_reassembly/
!components/patch_acl_reassembly/**
